@model IEnumerable<Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img decoding="async" src="@("~/images/" + item.ImageData)" asp-append-version="true" width="250px" height="250px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorEmail)
                </td>
                <td>
                    <a asp-action="IndexFiltered" asp-route-comment="@item.Comment">@Html.DisplayFor(modelItem => item.Comment)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-white">
    <a asp-controller="Posts" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New Post
    </a>
</div>
